<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <!-- Upload-Grenze für speichern.ashx: 50 MB (Bilder stecken in der JSON-Datei) -->
    <httpRuntime maxRequestLength="51200" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
    </staticContent>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>

  <!-- Kachel-Daten nie zwischenspeichern, damit Änderungen sofort sichtbar sind -->
  <location path="daten">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

  <!--
    EMPFOHLEN: Einstellungen und Speichern auf berechtigte Personen beschränken.
    Voraussetzung: In IIS ist die Rolle "URL-Autorisierung" installiert und für die Site
    "Windows-Authentifizierung" aktiviert. Dann diesen Block einkommentieren und
    Gruppe bzw. Benutzer anpassen.

  <location path="einstellungen.html">
    <system.webServer>
      <security>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" roles="DOMAENE\Webtools-Redaktion" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="speichern.ashx">
    <system.webServer>
      <security>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" roles="DOMAENE\Webtools-Redaktion" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  -->
</configuration>
